// cd \Users\PARZIVAL\Documents\DAW-2\DIW - Diseño Interfaces Web\P2-Repository\Project-Philantrofund-prototype\src\
// sass --watch ./scss/style.scss ./css/home.css

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Montserrat, Calibri, Verdana, sans-serif;

    //Mobile font-size for rem units
    font-size: 14px;
}

:root{
    --t-value: 100%
}

//Colors
$primary: #2e29a6;
$primary-variant: #986af9;
$primary-dark: #0c0b26;
$secondary: #0bd9d9;
$secondary-variant: #00a7a8;
$error: #8b0020;
$light-text: #ececec;
$light-gray: #6d6d6d;

//Typography
$h1-size: 42px;
$h1-font: Calibri;
$h2-size: 36px;
$h2-font: Calibri;
$h2-weight: 800;
$h3-size: 24px;
$h3-font: Montserrat;
$body-txt-size: 14px;
$body-txt-font: Montserrat;
$body-txt-weight: 800;
$details-txt-size: 12px;
$details-txt-font: Calibri;

//Shadows
$shadow-bttn:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;

//Logotype
@font-face{
    font-family: Black-sword;
    src: url(../assets/fonts/Blacksword.otf);
}


header{
    height: 86vh;
    position: relative;
    
    background-color: transparent;

    nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem 4rem;

        .logo-container{
            font-family: Calibri, Montserrat;
            
            p{
                font-size: 2rem;
                color: $light-text;
                font-weight: 800;
            }
        }
    
        .search-container{
            position: relative;
            height: 20px;
    
            i{
                position: absolute;
                bottom: 1px;
                left: 4px;
                display: block;
                width: 16px;
                height: 16px;
                color: $light-gray;
            }
            input{
                height: 100%;
                border: none;
                border-radius: 6px;
                text-align: center;
            }
        }
    
        .burger-menu{
            position: relative;
            width: 24px;
            height: 24px;
    
            
            i{
                font-size: 24px;
                color: $light-text;
                cursor: pointer;
                transition: all ease-in 150ms;
            }
        }

        .burger-menu:hover i{
            color: $primary-variant;
        }
    }

    /* Polygon */
    .bg-polygon{
        position: absolute;
        width: 100vw;
        height: 100%;
        z-index: -100;
        clip-path: polygon(
            0% 0%,
            100% 0%, 
            100% 100%, 
            0% 100%
        );
        background: linear-gradient(
            -45deg,$primary,$primary-dark
        );
    }

    .hero-grid-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 90%;
    }

    .big-hero-container{
        position: relative;
        grid-column: 1/7;
        // min-height: 700px;

        .title-container,
        .illustration-box{
            transition: all ease-in-out 200ms;
            opacity: 1;
        }
    
        .title-container h1{
            margin: 0 2rem;
            font-family: $h1-font;
            font-size: $h1-size;
            letter-spacing: 2px;
            color: rgb(226, 226, 226);
            margin-bottom: 4rem;
        }
    
        .illustration-box{
            padding: 0 2rem;

            svg{
                width: 100%;
                height: auto;
            }
        }

        .waves-box{
            position: absolute;
            bottom: 0;            
            width: 100%;
            height: 33%;

            img{
                position: absolute;
                width: 100%;
                height: 100%;
            }

            :nth-child(1){
                transform: translateY(-5rem);
            }
            :nth-child(2){
                // transform: translateY(-2.4rem);
            }
            :nth-child(9){
                height: 35px;
                bottom: 0;
                transform: translateY(2rem);
            }
        }

    }

    //Aside mobile navbar
    .slide-in{ margin-left: 0; opacity: 1; }
    .slide-out{ margin-left: 100%; opacity: 0; }

    .mobile-aside{
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: auto;
        padding: 0 2rem;
        z-index: 100;

        //Slide out (hidden)
        transition: all ease-in-out 200ms;
        transition: opacity ease-in 300ms;

        #search-nav{
            grid-column: 1/7;
            height: 32px;
            border-radius: 6px;
            outline: none;
            font-family: $body-txt-font;
            font-size: $body-txt-size;
            text-align: center;
        }

        .nav-links{
            grid-column: 1/7;
            display: flex;
            flex-flow: column nowrap;
            height: 22rem;
            margin-top: 2rem;

            ul{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                list-style: none;
                
                li a{
                    color: $light-text;
                    font-size: $body-txt-size;
                    text-decoration: none;
                    font-weight: 800;
                }
            }
        }

        button{
            height: 34px;
            margin-bottom: 2rem;
            cursor: pointer;
            border-radius: 6px;
            border: 2px solid $primary-variant;
            outline: none;
            box-shadow: $shadow-bttn;
            transition: all ease-in 150ms;
            
            a{
                color: $primary-dark;
                text-decoration: none;
                font-weight: 900;
                color: $light-text;
            }
        }

        #aside-bttn-1{
            grid-column: 1/7;
            background-color: $primary-variant;

            a{
                letter-spacing: 1px;
            }

        }
        
        #aside-bttn-2{
            grid-column: 1/4;
            margin-right: 1rem;
            background-color: $primary-variant;
            
        }
        
        #aside-bttn-3{
            grid-column: 4/7;
            margin-left: 1rem;
            border: 2px solid $primary-variant;
            background-color: transparent;
        }
        
        #aside-bttn-1:active,
        #aside-bttn-2:active{
            background-color: transparent;
        }

        #aside-bttn-3:active{
            background-color: $primary-variant;
        }

        .social-media{
            grid-column: 1/7;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 8rem;

            a i{
                font-size: 2rem;
            }
        }
    }


    .hidden{
        display: none;
        opacity: 0;
    }
}



//Main content
main{
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(6, 1fr);
}

// Fundrising steps / display grid

.fundrising-steps{
    grid-column: 1/7;
    width: 100%;
    padding-top: 6rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
    row-gap: 1rem;

    h2{
        grid-column: 1/-1;
        font-family: $h2-font;
        font-size: $h2-size;
        color: $primary-dark;
        text-align: center;
    }

    figure{
        position: relative;
        padding: 1rem;
        border-radius: 6px;
        overflow: hidden;
        background: linear-gradient(to bottom left, #c7c7c7, #e3e3e3);

        svg{
            position: relative;
            width: 100%;
            height: 164px;
            z-index: 1;
        }
        p{
            position: absolute;
            font-size: 8rem;
            font-weight: 900;
            color: #c7c7c7;
            top: 11rem;
            left: -1rem;
            z-index: 0;
        }

        figcaption{
            position: relative;
            text-align: justify;
            font-weight: 800;
            color: $primary-dark;
            z-index: 1;
        }
    }
    
    :nth-child(2),
    :nth-child(4),
    :nth-child(6){
        grid-column: 1/3;
    }
    :nth-child(3),
    :nth-child(5),
    :nth-child(7){
        grid-column: 3/-1;
    }
    

    button{
        grid-column: 1/-1;
        margin: 2rem 0;
        padding: 1rem;
        border: none;
        background: linear-gradient(-90deg,$primary,$primary-variant);
        border-radius: 6px;
        box-shadow: $shadow-bttn;
        cursor: pointer;
        transition: all ease-in 150ms;
        opacity: 1;

        a{
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            letter-spacing: 1px;
        }

        &:hover{
            opacity: 0.9;
        }
    }

}

.leading-projects{
    grid-column: 1/7;

    position: relative;

    h2{
        font-size: $h2-size;
        font-family: $h2-font;
        color: $primary-dark;
        text-align: center;
        margin-bottom: 2rem;
    }

    .card-box{
        display: flex;
        flex-flow: row nowrap;
        border-radius: 6px;
        margin-bottom: 2rem;
        overflow: hidden;
        background: linear-gradient(to bottom left, #c7c7c7, #e3e3e3);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: all ease-in 200ms;
        
        &:hover {
            transform: scale(1.02);
        }
        
        .image-tags{
            position: relative;
            width: 40%;
            margin-right: 1rem;
            box-shadow: inset 0rem 2rem 1rem rgba(0, 0, 0, 0.4);
            
            img{
                width: 100%;
                height: 100%;
                max-height: 122px;
                object-fit: cover;
            }
            
            i{
                position: absolute;
                top: .6rem;
                left: .6rem;
                color: #fff;
            }
            
            .category-tag{
                position: absolute;
                top: .4rem;
                left: 2rem;
                // border: 1px solid $primary-dark;
                background-color: $primary;
                border-radius: 6px;
                padding: 2px 4px;
                color: $light-text;
            }
        }

        .project-info{
            width: 60%;
        }

    }
}

.banner{
    grid-column: 1/7;
}

.categories-tags{
    grid-column: 1/7;
}